{% extends "lab_4/layout/base.html" %}


{% block content %}
	{%load static %}
	<img style="
			border-radius:50%;
			height:8em;
			width:8em;
			margin-left:auto;
			margin-right:auto;
			display:block;" src="{% static "images/my_photo.jpg" %}" alt="My photo"/>
	<!-- <img class=".img-circle" src="my_photo.jpg" alt="My photo"/> -->

	<h1>Portofolio</h1>
	<hr/>
	<section name="bio">
		<h2>Bio</h2>
		<p>
			{{content}}
		</p>
	</section>
	<hr/>
	<section name="about_me">
		<h2>List</h2>
		<ul>
			{% for ii in about_me %}
				<li> {{ ii }} </li>
			{% endfor %} </ul>
	</section>
	<hr/>

	<section name="form">
		<h2>Send Message</h2>
		<form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
			{% csrf_token %}
			{{ message_form }}
			<br>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</section>

{% endblock %}
