{% extends "lab_7/layout/base.html" %}

{% block content %}
	<section name="friend-list">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-8">
					<h2> friend Fasilkom</h2>
					<div id="friend-list" class="list-group">

					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block javascript %}
	<script>
		$( document ).ready(function () {
			{# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
			$.ajax({
					method: "GET",
					url: "{% url 'lab-7:get-friend-list' %}", // update
					success: function (response) {
						console.log("what")
						friends = response.results;
						console.log(friends)
						for (i = 0; i < friends.length; i++){
							html = '<a class="list-group-item clearfix" id="friends-' + friends[i].id + '">' +
								friends[i].friend_name + ' (' + friends[i].npm + ')' +
								'<span class="pull-right">' +
								'<span class="btn btn-xs btn-default" onClick=removeFriend(' + friends[i].id + ')>' +
								'Hapus teman</span></span></a>';
							$("#friend-list").append(html)
						}
					},
					error: function(error){
						console.log("Failed to display Friend list")
					}
			});
		});

		var removeFriend = function(id) {
			$.ajax({
					method: "DELETE",
					url: "/lab-7/delete-friend/" + id + "/",
					success : function (response) {
						console.log('sukses');
						$('#friends-' + id).remove();
					},
					error : function (error) {
						console.log('gagal');
					}
			});
		};

	</script>
{% endblock %}
